.header {
  margin-top: 10px;
  width: 100%;
}

.clients {
  margin-top: 10px;
  max-height: 50px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.liClient {
  color: #4b890a;
  display: inline-block;
  font-size: 15px;
  /* font-weight: 900; */
  list-style-type: none;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  width: 180px;
}

.btn-txt1 {
  color: #4b890a;
}

.btn-txt2 {
  color: white;
}

.btn-txt3 {
  color: #335a9e;
}

.btn-txt4 {
  color: white;
}

.btn-txt1 , .btn-txt2 , .btn-txt3 , .btn-txt4 , .btn-nickName , .nickName {
  display: inline;
  font-family: monospace;
  font-size: 15px;
  /* font-weight: 900; */
}

.nickName {
  background-color: #2d0922;
  border-style: none;
  color: white;
  outline: none;
  width: fit-content;
}

.btn-nickName {
  background: #2d0922;
  border: none;
  border-bottom-style: none;
  color: #4b890a;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
}

/* @media screen and ( max-width : 900px ) {

  .liClient , .clients , .btn-txt1 , .btn-txt2,
  .btn-txt3 , .btn-txt4 , .btn-nickName , .nickName {
    font-size: 10px;
  }
  .liClient {
    width: 180px;
  }
} */

/* @media screen and ( max-device-width : 480px)
  and ( orientation : portrait ) {

  .clients {
    max-height: 160px;
    width: 100%;
    box-sizing: border-box;


  }
  .liClient {
    box-sizing: border-box;
    font-size: 35px;
    margin-left: 40px;
    margin-right: 40px;
    width: 30%;
  }
  .btn-txt1 , .btn-txt2 , .btn-txt3 , .btn-txt4 , .btn-nickName , .nickName {
    font-size: 35px;
  }
} */

/* .nickName::placeholder {
  color: #335a9e;
  opacity: 1;
} */

/* .btn-txt1:hover {
  color: #bd9b04;
  opacity: 1;
} */
