.container-box-message {
  max-height: 350px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: block;
}

@media screen and ( max-device-width : 480px)
  and ( orientation : portrait ) {

    .container-box-message {
      max-height: 250px;
    }
}

.liMessage {
  border: none;
  color: white;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  /* margin-top: 10px; */
  overflow-wrap: break-word;
  text-decoration: none;
  width: 80%;
}

.btn-msg , .btn-input1 , .btn-input2 , .btn-input3 , .btn-input4 , .messageInput {
  display: inline;
  font-size: 16px;
  /* font-weight: 900; */
  position: relative;
  z-index: 1;
}

.btn-msg {
  background: #2d0922;
  border: none;
  border-bottom-style: none;
  color: #4b890a;
  cursor: pointer;
  width: fit-content;
}

.btn-msg p {
  display: inline;
}

.btn-input1 {
  color: #335a9e;
}

.btn-input2 {
  color: #4b890a;
}

.btn-input3 {
  color: white;
}

.btn-input4 {
  color: #335a9e;
}

.container-input {
  width: 100%;
}

.messageInput {
  display: inline;
  box-sizing: content-box;
  background-color: #2d0922;
  border: 0;
  border-style: none;
  color: white;
  outline: none;
  width: 100px;
  max-height: 100px;

  word-wrap: break-word;
    word-break: break-word;
    width: 100px;
}

/* @media screen and ( max-device-width : 400px)
  and ( orientation : portrait )
  {
    .messageInput {
      width: 100px;
      font-size: 15px;
      background-color: red;
    }
} */

/* .container-texArea {
display: inline;
vertical-align: middle;
 z-index: 0;
 width: 50px;
}

textArea {
  font-family: monospace;
  font-weight: 100;
  box-sizing: content-box;
  resize: none;
  width: 50px;
  font-size: 16px;
  border: 0;
  border-style: none;
  outline: none;
  color: white;
  text-align: left;
  white-space: break-spaces;
  margin-bottom: 0;
  background-color: #2d0922;
} */

/* textArea::placeholder {
  color: white;
  opacity: 1;
} */


/* @media screen and ( max-width : 600px ) {

  .liMessage , .btn-msg , .btn-input1 , .btn-input2 ,
  .btn-input3, .btn-input4 , .messageInput {
    font-size: 10px;
  }
}
*/
